<h2 class="text-center">Feed</h2>
<hr>
<div class="album feed">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <%@mixes.each do |m|%>
        <%=render partial: 'mixes/mix_preview', locals: {mix: m, current_user_var: @current_user}%>
      <%end%>
      <%=no_feed%>
    </div>
  </div>
</div>