<%=link_to image_tag("/btn_google.png"), '/auth/google_oauth2',method: :post, class: "google-login-btn" %>

<div class="fb-login-button" data-width="1600" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
