
  <div class='card-container hover-shadow'>
    <div class='card' >
      <div class="mix-preview">
      <%=render partial: 'mixes/mix', locals: {mix: mix, current_user_var: current_user_var}%>
      </div>
    </div>
  </div> 