<div class='card-container'>
  <div class="card">
    <div class="mix-header">
      <h1 style="margin-top: 100px"><%=link_to "New Mix", new_user_mix_path(current_user)%></h1>
    </div>
  </div>
</div>