<%=render partial: 'users/user', locals: {user: @user}%>

<h2>Mixes  <%=new_link%></h2> 
<div class="album py-5">
  <%@mixes.each do |m|%>
    <%=render partial: 'mix_preview', locals: {mix: m}%>
  <%end%>
</div>