
    <div class="text-center">
      <h1><%=@user.username%> is Following</h1>
       <%current_user_var = current_user%>
       <%@users.each do |u|%>
        <%=render partial: 'users/user', locals: {user: u, current_user_var: current_user_var}%>
      <%end%>
    </div>
