<div class="form-signin">
  <div class="card">
    <h3>Feeling mixed up? Create an account!</h3>
    <%=render partial: 'sessions/login_with'%>
    <%=render partial: 'form', locals: {user: @user}%>
    <i>Or</i>
    <%=link_to 'Login', '/login', class: 'nav-item nav-link' unless current_user%>
  </div>
</div>
