<div class="form-signin">
  <div class="card">
    <h3>Feeling mixed up? Create an account!</h3>
    <%=button_to 'Create an account with Google', '/auth/google_oauth2' %>
    <%=button_to "Create an account with Facebook",'/auth/facebook'%>
    <%=render partial: 'form', locals: {user: @user}%>
    <i>Or</i>
    <%=link_to 'Login', '/login', class: 'nav-item nav-link' unless current_user%>
  </div>
</div>
