/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require actiontext
 */

 @import "bootstrap";
 * {
   font-family: Georgia, 'Times New Roman', Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
 }
body {
  overflow-x: hidden;

}
* a {
  text-decoration: none !important;
  color: rgb(63, 63, 63);
}
* button:active {
  transform: rotate(90deg);
}
* button:focus, button:active {
  outline: none !important;
  border: none;
}
 .title {
   font-size: 60px;
   letter-spacing: 10px;
 }
 
 .navbar-toggler-sm{
   border: none;
   background-color: transparent;
 }
 .nav-links a{
   border-left: solid 1px black;
   font-style: italic;
 }

 .container {
   padding: 0;
 }
 .search .row{
   margin: auto;
   width: 80%;
   height: 50px;
   align-items: center;
  //  background-color: lightgrey;
   border-radius: 5px;
 }
 .search-query {
   width: 50%;
   max-width: 500px;
   height: 35px;
   border: solid thin lightgray;
   border-radius: 5px;
 }
 .search-filter {
   height: 35px;
   width: 100px;
   border: solid thin lightgray;
   border-radius: 5px;
 }
 .search-icon {
   border: none;
   background-color: transparent;
 }

 .album {
   text-align: center;
   background-color: transparent;
 }

 .card-container{
  display: inline-block;
  max-width: 100%;
  width: 360px;
  height: 430px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
 }
 
 .card{
  display: inline-block;
  max-width: 100%;
  width: 350px;
  height: 400px;
  text-align: center;
  overflow-y: scroll;
  margin: auto;
}

.card .jumbotron {
  padding: 5px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


iframe {
  border: none;
}

.form-signin {
  padding-top: 50px;
  text-align: center;
}
.form-signin .card{
  width: 400px;
  height: 500px;
  margin: auto;
 
}
.form-signin .card form input{
  margin: 10px auto 10px auto;
  
}

.field_with_errors input{
  border: solid thin red;
}

.people-to-follow {
  margin: auto;
  white-space: nowrap;
  height: 300px !important;
  width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
}


.trix-content {
  text-align: left;
}

