// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comments-container {
  position: relative;
  margin: auto;
  border: solid thin lightgray;
  border-radius: 5px;
  max-height: 500px;
  overflow-y: scroll;
  padding-bottom: 0px !important;
}

.comment {
  
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  border: solid thin lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.new-comment-container {
  
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  
}

.new-comment { 
  background-color: rgb(235, 235, 235);
  border: solid thin lightgray;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
}

trix-editor{
  display: inline-block;
  width: 90%;
  
  min-height: 10px !important;
}

.comment-button {
  display: inline-block;
  border: none;
  background-color: transparent;
  bottom: 0;
}

.comment-content img {
  height: 50px !important
}

.comment-profile-img{
  height: 20px !important;
  border-radius: 50%;
}

.comment .button_to {
  text-align: right;
}