// Place all the styles related to the mixes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mix-container {
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center; 
}

.edit-delete {
  text-align: center;
}

.edit-delete svg{
  font-size: 30px;
}

.mix-edit {

  min-height: 500px !important;
}

.mix-edit form {
  margin: auto;
  max-width: 500px;
  min-height: 100px !important;
}

.mix-edit .trix-content {
  min-height: 50px !important;
}