// Place all the styles related to the mixes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mix-container {
  margin: auto;
  max-width: 100%;
  min-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  padding: 30px;
}
.mix-header {
  height: 350px;
}
.mix-content {
  margin: auto;
  max-width: 700px;
  min-height: 500px;
}


.edit-delete {
  text-align: center;
}

.edit-delete a{
  margin: 50px
}

.mix-edit {

  min-height: 500px !important;
}

.mix-edit form {
  margin: auto;
  max-width: 500px;
  min-height: 100px !important;
}

.mix-edit .trix-content {
  min-height: 50px !important;
}

.mix-preview .card-container{
  margin: auto;
  height: 300px;
  width: 100%;
}
.mix-preview .card{
  height: 300px;
  width: 100%;
}

.mix-preview .card .content-container{
  height: 100%;
  width: 100%;
}




