// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-container .card{
  height: 290px;
  width: 280px;
  overflow: hidden;
  margin: auto;
  
}
.user-container .jumbotron{
  margin: 2px;
  padding: 10px;
  width: 246px;
  height: 253px;
}

.edit-user-image .row{
  width: 160px;
}

.edit-user-image input {
  display: inline-block;
  font-size: 5px;
  padding: 0;
}

.profile-image {
  border-radius: 50% !important;
  overflow: hidden;
  width: min-content;
  margin: auto;
}
.profile-image img {
  height: 50px;
  width: 50px;

}


.icon-profile-img{
  height: 50px !important;
  border-radius: 50%;
}